.footer{
    background: var(--general-bg-45);
    padding-top: 65px;
    position: relative;
}

.footer::before{
    content: '';
    position: absolute;
    width: 359px;
    height: 359px;
    bottom: -85%;
    right: 10%;
    border-radius: 50%;
    background: rgba(0, 224, 255, 0.1);
    filter: blur(167px); 
    opacity: 1;
    z-index: 5;
}
      
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 44px;
}

.footer__logo{
    max-width: 287px;
}

.footer__col-inner{
    display: flex;
    gap: 36px;
    margin-bottom: 30px;
    align-items: center;
}

.footer__email{
    display: flex;
    gap: 15px;
    align-items: center;
}

.email-text{
    font-size: var(--font-size);
    color: var(--color-title);
    text-decoration: underline;
}

.footer__phone{
    display: flex;
    gap: 15px;
}

.footer__phone-number{
    font-size: var(--font-size);
}
              
.footer__col-socials{
    display: flex;
    justify-content: end;
    gap: 15px;
    align-items: center;
}

.socials-text{
    text-transform: uppercase;
    font-size: 10px;
    line-height: 21px;
    letter-spacing: 1px;
    color: var(--gray-color);
}
                
.footer__copy{
    max-width: 1200px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    background-image: linear-gradient(180deg, #ffffff 66%, #696868 100%);
    background-clip: text;
    color: transparent;
    margin-bottom: 18px;
    position: relative;
}

.footer__copy::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -350px;
    height: 1px;
    width: 63%;
    background: rgba(0, 224, 255, 0.2);
}

.footer__copy::after{
    content: '';
    position: absolute;
    top: 10px;
    right: -350px;
    height: 1px;
    width: 63%;
    background: rgba(0, 224, 255, 0.2);
}

.footer__afreeca{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 17px;
    gap: 14px;
}

.footer__afreeca-text{
    text-transform: uppercase;
    font-size: 10px;
    line-height: 21px;
    letter-spacing: 1.2px;
    color: var(--gray-color);
}

.up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: fixed;
    bottom: 40px;    /* Поставим пониже */
    left: 5.35%;         /* Слева */
    z-index: 14;
    transition: opacity 0.3s ease; /* Мягкая анимация */
    opacity: 0; /* Начнем с прозрачности */
    pointer-events: none; /* Невзаимодействующая пока не появится */
    visibility: hidden;
}

.up.hidden {
    visibility: hidden; /* Прячем кнопку */
    opacity: 0;
    pointer-events: none;
}

.up.show-up-btn {
    visibility: visible; 
    opacity: 1; /* Появляется постепенно */
    pointer-events: auto; /* Пользователь сможет взаимодействовать */
}

.up__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 12;
    background: var(--bg-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    overflow: visible;
    position: relative;
    box-shadow: 0 7px 20px -7px var(--turquoise-color);
}

.up__img::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -30%;
    left: -30%;
    bottom: -30%; 
    right: -30%;
    border-radius: inherit;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    opacity: 0;
    transition: all .5s;
}

.up__img:hover::before {
    opacity: 1;
}

.up__text {
    color: var(--turquoise-color);
    transform: rotate(-90deg); 
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}