* {
  box-sizing: border-box;
}

:root {
  --accent-color: #ffffff;
  --turquoise-color: #00e0ff;
  --font-size: 18px;
  --color-title: #4abcec;
  --bg-button: linear-gradient(0deg, #13cdc2, #03e1ff);
  --gray-color: #747D81;
  --border-radius-btn: 9px;
  --border-radius: 20px;
  --general-bg-135: linear-gradient(135deg, #043a41, #022335);
  --general-bg-45: linear-gradient(45deg, #022335, #0c373d);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.body {
  font-family: "AvenirNextCyr-Medium", "Arial", sans-serif;
  color: var(--accent-color);
  background: linear-gradient(45deg, #022335, #0c373d);
  font-weight: 500;
}

.body--opened-modal {
  overflow: hidden;
}

.body--opened-window {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main__reasons,
.main__important {
  padding-bottom: 125px;
}

.main__AI-cool,
.main__program {
  padding-bottom: 109px;
}

.main__brain {
  padding-bottom: 116px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
  font-family: "AvenirNextCyr-Medium", sans-serif;
  font-size: 54px;
  color: var(--accent-color);
}

.button {
  max-width: 479px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  background: var(--bg-button);
  height: 60px;
  border-radius: var(--border-radius-btn);
  padding: 23px 13px;
  transition: var(--transition);
  letter-spacing: 3px;
  box-shadow: 0 7px 20px -7px var(--turquoise-color);
  text-transform: uppercase;
  text-align: center;
}

/*Модальное окно*/

.modal {
  position: fixed;
  inset: 0;
  background: rgba(8, 38, 43, 0.5);
  z-index: 15;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  background: linear-gradient(135deg, #0f6b78, #033958);
  border-radius: 20px;
  padding: 30px 30px 40px;
  max-width: 302px;
}

.modal__cancel {
  position: absolute;
  top: -40px;
  right: 0;
}

.modal__cancel path {
  transition: all 0.4s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: #16d8f1b6;
}

.modal__title {
  font-size: 22px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.modal__title span {
  color: #4abcec;
}

.field {
  display: flex;
  gap: 10px;
}

.modal__text {
  font-size: 13px;
  color: var(--turquoise-color);
  letter-spacing: 0.9px;
  margin-bottom: 8px;
}

.field__input {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  background: linear-gradient(
    135deg,
    #0d6e7d,
    #06526d
  ); /* Фоновый цвет внутри поля */
  color: var(--accent-color);
  padding: 21px 25px 16px 21px;
  font-size: 15px;
  border-radius: 9px;
  transition: 0.4s all;
}

.modal__form-label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  position: relative;
  border-radius: 9px;
}

.modal__form-label::before {
  content: "";
  position: absolute;
  width: 101%;
  height: 102%;
  top: 0;
  left: -1px;
  border: inherit;
  border-radius: inherit;
  background: linear-gradient(62deg, #1f4d60, #49b9e8, #1f4d60) border-box;
  mask:
    linear-gradient(white, white) padding-box,
    linear-gradient(white, white);
  mask-composite: exclude;
  opacity: 0.5;
  z-index: 5;
}

.field__input:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.field__input:last-child {
  margin-bottom: 0;
}

.modal__form-button {
  width: 100%;
  max-width: 479px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  background: var(--bg-button);
  height: 60px;
  border-radius: var(--border-radius-btn);
  padding: 23px 13px;
  transition: var(--transition);
  letter-spacing: 3px;
  box-shadow: 0 7px 20px -7px var(--turquoise-color);
  text-transform: uppercase;
  margin-top: 33px;
}
